ul {
  list-style: none;
}

.site-nav a {
  color: #212121;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

.site-nav a:active {
  color: red;
}
/* цвет основного текста #212121*/
/* вторичный цвет текста #757575 */
/* цвет акцента #2196F3 */
/* белый цвет #FFFFFF */
/* основной цвет фона #E5E5E5*/
/* вторичный цвет фона #AFB1B8*/
/* цвет футера #2F303A*/
/* #EEEEEE*/
